* {
    font-family: 'Oswald', Times, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* Utilities */

/* Layout */